#img-space{
    background-color: #f6f6f9;
    max-height: 800px;
    height: 600px;
    width: 71%;
    margin-left: 18%;
    color: rgb(216, 66, 66);
    border-radius: 25px;
    text-align: center;
    margin-top: 40px;
    position: absolute;
    transition: all 1s ease;
}

#img-space:hover{

    border-color: #031c3a;
}

#img-API{
    max-width: 500px;
    max-height: 500px;
    height: 400px;
    border-radius: 20px;
    margin-top: 30px;
    display: block;
    margin-left: 50%;
}



.data-space:hover{
    background-color: #c638251f;
    border-color: #031c3a;
}

#btn-file{
    color: black;
}



.data-red2 {
    display: inline-block;
    background-color:#c63725 ;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px ;
    margin-left: 15px;
        
}

#picture__input {
    display: none;
  }

.picture {
    width: 400px;
    height:490px ;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
    margin-left: 56%;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .picture__img {
    max-width: 100%;
  }

.upload-btn{
    margin-left: 50%;
    margin-top: 30px;
    background-color: #f6f6f9;
    color: black;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.upload-btn:hover{
    border-color: #9a2b1b;
    background-color: #eeeeee;

}

.slide-container{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}
